.fixed {
  flex-basis: 50%;
  background-image: url(/vendors/images/concert3.jpg);
}

.form {
  flex-basis: 50%;
  padding-right: 100pt;
  padding-left: 100pt;
}

.login-form-forgot {
  float: right;
}

.login-form-register {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ant-form-item-label {
  overflow: hidden;
  line-height: 39.9999px;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;
  display: inline-flex;
}

.EditProfile-Form {
  padding-right: 300px;
}

.form-style {
  margin-top: 130pt;
  width: 300pt;
}
