.background {
  background-image: url(/vendors/images/concert3.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  overflow: hidden;
}
