.ant-carousel .slick-slide {
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel {
  height: 50%;
  width: 50%;
}
.verticalLine {
  border-left: thick solid #ff0000;
}
