.logo {
  font-family: 'Pacifico', sans-serif;
}

.profile {
  background-color: #ff4d4f;
  color: white;
  border: none;
}
.profile:hover {
  background-color: white;
  color: #ff4d4f;
}
.backgroudNav {
  background-color: transparent;
}
.logout {
  color: #ff4d4f;
  border: none;
}
